.introduction {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	height: max-content;
	justify-content: center;
	align-items: center;
	gap: 4em;
}

.text {
	padding: 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;

	h1 {
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 400;
		margin-bottom: 0;
	}
	p {
		font-size: 1.2rem;
		font-weight: 400;
		max-width: 30rem;
	}
	animation: fadeIn 5s ease-in;
}

@media screen and (max-width: 600px) {
	.text {
		width: fit-content;
	}
}

@keyframes fadeIn {
	0% {
		display: none;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}
