.about-section {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	justify-content: center;
	overflow-x: none;
}
.about {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 3em;
	width: 100%;
}

.my-image {
	width: 400px;
	height: 550px;
	border-radius: 1em;
	box-shadow: 0 12px 14px rgba(0, 0, 0, 0.3);
	filter: drop-shadow(#caf0f8 0px 0px 50px);
}

/* shouldnt be wider than 50% of page when page is on desktop*/
.card {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	background-color: #caf0f8;
	text-align: center;
	justify-content: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	padding: 1em;
	font-size: 1.25em;
	align-self: center;
}

@media screen and (max-width: 800px) {
	.card {
		max-width: 100%;
	}
	.my-image {
		width: 350px;
		height: 500px;
	}
}

@media screen and (max-width: 350px) {
	.my-image {
		width: 200px;
		height: 280px;
	}
}
