.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	min-height: 5vh;
	background-color: #000274;
	margin: 0;
}

.header-text {
	font-size: 2;
	font-weight: 600;
	max-width: fit-content;

	a {
		text-decoration: none;
		color: white;
	}
}

.sections {
	font-size: 1.25em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 2rem;
	padding: 1.25em;
	margin: 0;
	a {
		text-align: center;
		flex: 1;
		text-decoration: none;
		background-color: #00025a;
		padding: 0.75em;
		border-radius: 0.5em;
		&:hover {
			color: rgb(141, 169, 243);
		}
		color: white;
	}
}
