@font-face {
    font-family: CascadiaCode;
    src: url(./assets/CascadiaCode.woff2);
}

html {
    font-family: 'CascadiaCode', sans-serif !important;
    width: 100vw !important;
    overflow-x: hidden;
}